#episode-container {
    margin-top: 20px;
    border-top: 1px solid #444;
    padding-top: 15px;
    color: white;
}

#modal-episode-list {
    max-height: 200px; /* Limits height */
    overflow-y: auto;   /* Adds scrollbar */
    list-style: none;
    padding: 0;
}

#modal-episode-list li {
    padding: 8px;
    border-bottom: 1px solid #222;
    font-size: 0.9rem;
}

/* Scrollbar Styling for a "Dark Mode" look */
#modal-episode-list::-webkit-scrollbar {
    width: 6px;
}
#modal-episode-list::-webkit-scrollbar-thumb {
    background: #ff4500; /* Your brand color */
    border-radius: 10px;
}
